<table mat-table [dataSource]="insuranceListForMatTable" class="mat-elevation-z8">
  <!-- Insurance Plan Type Column -->
  <ng-container matColumnDef="insurancePlanType">
    <th mat-header-cell *matHeaderCellDef> Insurance Type </th>
    <td mat-cell *matCellDef="let element"> {{element?.insuranceDetail?.insurancePlanType}} </td>
  </ng-container>
  <!-- Insurance Plan Name Column -->
  <ng-container matColumnDef="insurancePlanName">
    <th mat-header-cell *matHeaderCellDef> Insurance Name </th>
    <td mat-cell *matCellDef="let element"> {{element?.insuranceDetail?.insurancePlanName}} </td>
  </ng-container>

  <!-- Insurance Start Date Column -->
  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef> Start Date </th>
    <td mat-cell *matCellDef="let element"> {{element?.startDate | date:'yyyy-MM-dd'}} </td>
  </ng-container>

  <!-- Insurance End Date Column -->
  <ng-container matColumnDef="endtDate">
    <th mat-header-cell *matHeaderCellDef> End Date </th>
    <td mat-cell *matCellDef="let element"> {{element?.endDate | date:'yyyy-MM-dd'}} </td>
  </ng-container>

  <!-- Eligibility Column -->
  <ng-container matColumnDef="eligibility">
    <th mat-header-cell *matHeaderCellDef> Status</th>
    <td mat-cell *matCellDef="let element"> {{element?.eligibility | titlecase}} </td>
  </ng-container>
  <!-- View Eligibility Details Column -->
  <ng-container matColumnDef="viewDetails">
    <th mat-header-cell *matHeaderCellDef> View Details </th>
    <td mat-cell *matCellDef="let element">
      <mat-radio-button (click) ="onViewDetails(element)">
        View Details
      </mat-radio-button>
    </td>

  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<!-- {{myInsuranceList |json}} -->