<!-- Table starts -->
<div class="container example-container mat-elevation-z8">
  <!-- Spinner starts -->
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <!-- Spinner ends -->

  <div class="example-table-container">

    <table mat-table [dataSource]="preAuthListForMatTable" class="example-table" matSort matSortActive="mrnMnumber"
      matSortDisableClear matSortDirection="desc">

      <!-- MRN Column -->
      <ng-container matColumnDef="mrnNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>MRN</th>
        <td mat-cell *matCellDef="let row">{{row.episode.mrnNumber}}</td>
      </ng-container>

      <!-- Patient Name Column -->
      <ng-container matColumnDef="patientName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Patient Name</th>
        <td mat-cell *matCellDef="let row">
          {{row.preAuthDemographics.lastName}},
          {{row.preAuthDemographics.firstName}},
          {{row.preAuthDemographics.middleName}},
          <!-- {{row.preAuthDemographics.suffix}},
          {{row.preAuthDemographics.gender}} -->
        </td>
      </ng-container>

      <!-- Suffix Column -->
      <!-- <ng-container matColumnDef="suffix">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Suffix</th>
        <td mat-cell *matCellDef="let row">{{row.preAuthDemographics.suffix}}</td>
      </ng-container> -->

      <!-- Last Name Column -->
      <!-- <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
        <td mat-cell *matCellDef="let row">{{row.preAuthDemographics.lastName}}</td>
      </ng-container> -->

      <!-- First Name Column -->
      <!-- <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
        <td mat-cell *matCellDef="let row">{{row.preAuthDemographics.firstName}}</td>
      </ng-container> -->

      <!-- Middle Name Column -->
      <!-- <ng-container matColumnDef="middleName">
        <th mat-header-cell *matHeaderCellDef>Middle Name</th>
        <td mat-cell *matCellDef="let row">{{row.preAuthDemographics.middleName}}</td>
      </ng-container> -->

      <!-- Admission Date Column M/d/yyyy-->
      <ng-container matColumnDef="admissionDate">
        <th mat-header-cell *matHeaderCellDef>Admission Date</th>
        <td mat-cell *matCellDef="let row">{{row.episode.admissionDate | date:'M/d/yyyy'}}</td>
      </ng-container>

      <!-- Admission Status Column -->
      <ng-container matColumnDef="admissionStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Admission Status
        </th>
        <td mat-cell *matCellDef="let row">{{row.episode.admissionStatus}}</td>
      </ng-container>

      <!-- Episode Type Column -->
      <ng-container matColumnDef="episodeType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Episode Type
        </th>
        <td mat-cell *matCellDef="let row">{{row.episode.episodeType}}</td>
      </ng-container>

      <!-- Payor Type Column -->
      <ng-container matColumnDef="payorType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Payor Type
        </th>
        <td mat-cell *matCellDef="let row">{{row.episode.payorType}}</td>
      </ng-container>

      <!-- preAuthForm Column -->
      <ng-container matColumnDef="preAuthForm">
        <th mat-header-cell *matHeaderCellDef>Preauth Form</th>
        <td mat-cell *matCellDef="let row">
          <button mat-button mat-raised-button (click)="onEditPatient(row)">Preauth Form</button>
        </td>
      </ng-container>

      <!-- preauthFormStatus Column -->
      <ng-container matColumnDef="preauthFormStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Form Status
        </th>
        <td mat-cell *matCellDef="let row">{{row.episode.preauthFormStatus}}</td>
      </ng-container>

      <!-- formSentDate Date Column M/d/yyyy-->
      <ng-container matColumnDef="formSentDate">
        <th mat-header-cell *matHeaderCellDef>Form Sent Date</th>
        <td mat-cell *matCellDef="let row">{{row.episode.formSentDate | date:'M/d/yyyy'}}</td>
      </ng-container>

      <!-- formStatus/ Submission Status Column -->
      <ng-container matColumnDef="formStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Submission Status
        </th>
        <td mat-cell *matCellDef="let row">{{row.episode.formStatus}}</td>
      </ng-container>


      <!-- Footer Column -->
      <ng-container matColumnDef="loading">
        <th mat-footer-cell *matFooterCellDef colspan="6">
          Loading Data ...
        </th>
      </ng-container>

      <!-- No Data Found Column -->
      <ng-container matColumnDef="nodatafound">
        <th mat-footer-cell *matFooterCellDef colspan="6">
          No Data Found ...
        </th>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': preAuthListForMatTable != null}"></tr>
      <tr mat-footer-row *matFooterRowDef="['nodatafound']"
        [ngClass]="{'hide': !(preAuthListForMatTable != null && preAuthListForMatTable.data.length == 0)}"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="5" [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons>
  </mat-paginator>
</div>
<!-- Table ends -->