<!-- Spinner starts -->
<!-- <div align="center" class="example-loading-shade" *ngIf="isLoadingResults">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div> -->
<!-- Spinner ends -->

<!-- Patient Form Starts Here -->
<form [formGroup]="patientFormService.patientForm" class="normal-form"
  (ngSubmit)="onVerifyEligibilityClick(patientFormService.patientForm)" fxLayoutGap="8px">

  <!-- Main Mat-Dialog Hearder Start -->
  <mat-toolbar>
    <mat-toolbar-row>
      <span class="fill-remaining-space"></span>
      <span>
        <h5 mat-dialog-title>{{heading}}</h5>
      </span>
      <span class="fill-remaining-space"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Close icon" (click)="onNoClick()" tabindex="-1">
        close
      </mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- Main Mat-Dialog Hearder Ends -->

  <!-- Main Mat-Dialog Body/Content Start -->
  <div mat-dialog-content>
    <!-- Tabs in Main Doalog Starts here -->
    <mat-tab-group mat-align-tabs="start" (selectedTabChange)="onTabChanged($event)" [selectedIndex]="selectedTabIndex">
      <!-- (selectedTabChange)="onTabChanged($event)" [selectedIndex]="1" -->
      <!-- Health Plan Verification Tab Start -->
      <mat-tab label="Health Plan Verification">
        <ng-template matTabContent>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header class="disable_ripple">
                <mat-panel-title>
                  Member Demographic
                </mat-panel-title>
                <mat-panel-description>
                  <!-- Member Demographic -->
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-grid-list cols="3" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="3">
                  <div class="controles-container">
                    <!-- <input type="hidden" formControlName="$key"> -->
                    <mat-form-field class="no-padding">
                      <input matInput #input placeholder="Enter last name" formControlName="lastName"
                        [errorStateMatcher]="matcher" required>
                      <mat-label>Last Name</mat-label>
                    </mat-form-field>

                    <mat-form-field class="no-padding">
                      <input matInput [matDatepicker]="dob" placeholder="Enter date of birth" formControlName="dob"
                        [errorStateMatcher]="matcher"
                        [value]="patientFormService.patientForm.controls?.dob.value | date:'yyyy-MM-dd'" required>
                      <mat-label>Date of birth</mat-label>
                      <!-- <mat-error *ngIf="patientFormService.patientForm.controls['dob'].hasError('required')"date:'MMMM d, y'">
                        Date of birth is <strong>required</strong>
                      </mat-error> -->
                      <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                      <mat-datepicker #dob></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="no-padding">
                      <input matInput formControlName="mrnNumber"
                        [value]="patientFormService.patientForm.controls?.mrnNumber.value">
                      <mat-label>MRN Number</mat-label>
                    </mat-form-field>

                  </div>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="2">
                  <div class="controles-container">
                    <mat-form-field class="no-padding">
                      <input matInput #input placeholder="Enter first name" formControlName="firstName"
                        [errorStateMatcher]="matcher" required>
                      <mat-label>First Name</mat-label>
                    </mat-form-field>

                    <mat-form-field class="no-padding">
                      <mat-label>Gender</mat-label>
                      <mat-select formControlName="gender" required>
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let gender of genders; let i = index" [value]="gender.name">
                          {{gender.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                  </div>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="2">
                  <div class="controles-container">
                    <mat-form-field class="no-padding">
                      <input matInput #input placeholder="Enter middle name" formControlName="middleName"
                        [errorStateMatcher]="matcher">
                      <mat-label>Middle Name</mat-label>
                    </mat-form-field>
                    <mat-form-field class="no-padding">
                      <mat-label>Suffix</mat-label>
                      <!-- <mat-select [formControl]="patientFormService.patientForm.controls.suffix"> -->
                      <mat-select formControlName="suffix">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let suffix of suffixes" [value]="suffix.name">
                          {{suffix.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </mat-grid-tile>
              </mat-grid-list>
            </mat-expansion-panel>
            <!-- Member Demographic details ENDS here in Health Plan Verification -->

            <!-- Primary Insurance details STARTS here in Health Plan Verification -->
            <div formGroupName="insuranceDetailByPolicy" class="normal-form"
              *ngIf="patientFormService.patientForm.get('insuranceDetailByPolicy')?.value != null">
              <!-- Primary Insurance: Subscriber's first last and middle name starts-->
              <!-- <div formGroupName="primaryInsuranceDetail" class="normal-form"
                *ngIf="patientFormService.patientForm.get('insuranceDetailByPolicy')?.get('primaryInsuranceDetail')?.value != null"> -->
              <div formGroupName="primaryInsuranceDetail" class="normal-form" *ngIf="primaryInsuranceDetail !== null">
                <mat-expansion-panel>
                  <mat-expansion-panel-header class="disable_ripple">
                    <mat-panel-title>
                      <!-- <mat-form-field class="example-full-width"> -->
                      <mat-checkbox color="primary" (click)="primarySelected($event)"
                        (keydown)="$event.stopPropagation()" formControlName="eligibilityCheckSelected">
                        Primary Insurance
                      </mat-checkbox>
                      <!-- </mat-form-field> -->
                    </mat-panel-title>

                    <mat-panel-description>
                      <!-- Primary Insurance -->
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <mat-grid-list cols="3" rowHeight="70px">

                    <mat-grid-tile [colspan]="1" [rowspan]="4">
                      <div class="controles-container">
                        <mat-form-field class="example-full-width">
                          <input matInput #input placeholder="Enter Subscriber last name"
                            formControlName="insuredlastName" [errorStateMatcher]="matcher" required>
                          <mat-label>Subscriber Last Name</mat-label>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                          <mat-label>Sex</mat-label>
                          <mat-select formControlName="insuredsex" required>
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let gender of genders" [value]="gender.name">
                              {{gender.name}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                          <input matInput #input placeholder="Policy Number" formControlName="policyNumber"
                            [errorStateMatcher]="matcher" required>
                          <mat-label>Policy Number</mat-label>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                          <input matInput #input placeholder="Enter group #" formControlName="group_name"
                            [errorStateMatcher]="matcher" required>
                          <mat-label>Group Number</mat-label>
                        </mat-form-field>

                      </div>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="1" [rowspan]="3">
                      <div class="controles-container">
                        <mat-form-field class="example-full-width">
                          <input matInput #input placeholder="Enter Subscriber first name"
                            formControlName="insuredfirstName" [errorStateMatcher]="matcher" required>
                          <mat-label>Subscriber First Name</mat-label>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                          <input matInput [matDatepicker]="insureddob" placeholder="Enter date of birth"
                            formControlName="insureddob"
                            [value]="patientFormService.patientForm.get('insuranceDetailByPolicy').get('primaryInsuranceDetail').get('insureddob').value | date:'yyyy-MM-dd'"
                            [errorStateMatcher]="matcher" required>
                          <mat-label>Date Of Birth</mat-label>
                          <mat-datepicker-toggle matSuffix [for]="insureddob"></mat-datepicker-toggle>
                          <mat-datepicker #insureddob></mat-datepicker>
                        </mat-form-field>
                        <!-- [value]="patientFormService.patientForm.controls.insuranceAndDiagnosis.controls.insureddob.value| date:'yyyy-MM-dd'" -->

                        <mat-form-field class="example-full-width">
                          <input matInput [matDatepicker]="startDate" placeholder="Select Start Date"
                            formControlName="startDate"
                            [value]="patientFormService.patientForm.get('insuranceDetailByPolicy').get('primaryInsuranceDetail').get('startDate').value | date:'yyyy-MM-dd'"
                            [errorStateMatcher]="matcher" required>
                          <mat-label>Start Date</mat-label>
                          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                          <mat-datepicker #startDate></mat-datepicker>
                        </mat-form-field>

                      </div>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="1" [rowspan]="3">
                      <div class="controles-container">

                        <mat-form-field class="example-full-width">
                          <input matInput #input placeholder="Enter Subscriber middle name"
                            formControlName="insuredmiddleName" [errorStateMatcher]="matcher">
                          <mat-label>Subscriber Middle Name</mat-label>
                        </mat-form-field>

                        <mat-form-field>
                          <mat-label>Patient Relationship To Insured</mat-label>
                          <mat-select formControlName="patientRelationInsured" required>
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let relation of relations" [value]="relation.name">
                              {{relation.name}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                          <input matInput [matDatepicker]="endDate" placeholder="Select End Date"
                            formControlName="endDate"
                            [value]="patientFormService.patientForm.get('insuranceDetailByPolicy').get('primaryInsuranceDetail').get('endDate').value | date:'yyyy-MM-dd'"
                            [errorStateMatcher]="matcher" required>
                          <mat-label>End Date</mat-label>
                          <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                          <mat-datepicker #endDate></mat-datepicker>
                        </mat-form-field>
                      </div>
                    </mat-grid-tile>

                  </mat-grid-list>

                  <!-- Primary Insurance: Subscriber's first last and middle name ends-->
                </mat-expansion-panel>
              </div>
            </div>
            <!-- Primary Insurance Details ends -->

            <!-- Secondary Insurance Details starts -->
            <div formGroupName="insuranceDetailByPolicy" class="normal-form"
              *ngIf="patientFormService.patientForm.get('insuranceDetailByPolicy')?.value != null">
              <!-- Primary Insurance: Subscriber's first last and middle name starts-->
              <div formGroupName="secondaryInsuranceDetail" class="normal-form"
                *ngIf="secondaryInsuranceDetail !== null">
                <mat-expansion-panel>
                  <mat-expansion-panel-header class="disable_ripple">
                    <mat-panel-title>
                      <!-- <mat-form-field class="example-full-width"> -->
                      <mat-checkbox color="primary" (click)="secondarySelected($event)"
                        (keydown)="$event.stopPropagation()" formControlName="eligibilityCheckSelected">
                        Secondary Insurance
                      </mat-checkbox>
                      <!-- </mat-form-field> -->
                    </mat-panel-title>

                    <mat-panel-description>
                      <!-- Secondary Insurance -->
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <mat-grid-list cols="3" rowHeight="70px">

                    <mat-grid-tile [colspan]="1" [rowspan]="4">
                      <div class="controles-container">
                        <mat-form-field class="example-full-width">
                          <input matInput #input placeholder="Enter Subscriber last name"
                            formControlName="insuredlastName" [errorStateMatcher]="matcher" required>
                          <mat-label>Subscriber Last Name</mat-label>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                          <mat-label>Sex</mat-label>
                          <mat-select formControlName="insuredsex" required>
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let gender of genders" [value]="gender.name">
                              {{gender.name}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                          <input matInput #input placeholder="Enter insured last name" formControlName="policyNumber"
                            [errorStateMatcher]="matcher" required>
                          <mat-label>Policy Number</mat-label>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                          <input matInput #input placeholder="Enter group #" formControlName="group_name"
                            [errorStateMatcher]="matcher" required>
                          <mat-label>Group Number</mat-label>
                        </mat-form-field>

                      </div>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="1" [rowspan]="3">
                      <div class="controles-container">
                        <mat-form-field class="example-full-width">
                          <input matInput #input placeholder="Enter Subscriber first name"
                            formControlName="insuredfirstName" [errorStateMatcher]="matcher" required>
                          <mat-label>Subscriber First Name</mat-label>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                          <input matInput [matDatepicker]="insureddob2" placeholder="Enter date of birth"
                            formControlName="insureddob"
                            [value]="patientFormService.patientForm.get('insuranceDetailByPolicy').get('secondaryInsuranceDetail').get('insureddob').value | date:'yyyy-MM-dd'"
                            [errorStateMatcher]="matcher" required>
                          <mat-label>Date Of Birth</mat-label>
                          <mat-datepicker-toggle matSuffix [for]="insureddob2"></mat-datepicker-toggle>
                          <mat-datepicker #insureddob2></mat-datepicker>
                        </mat-form-field>
                        <!-- [value]="patientFormService.patientForm.controls.insuranceAndDiagnosis.controls.insureddob.value| date:'yyyy-MM-dd'" -->

                        <mat-form-field class="example-full-width">
                          <input matInput [matDatepicker]="startDate2" placeholder="Select Start Date"
                            formControlName="startDate"
                            [value]="patientFormService.patientForm.get('insuranceDetailByPolicy').get('secondaryInsuranceDetail').get('startDate').value | date:'yyyy-MM-dd'"
                            [errorStateMatcher]="matcher" required>
                          <mat-label>Start Date</mat-label>
                          <mat-datepicker-toggle matSuffix [for]="startDate2"></mat-datepicker-toggle>
                          <mat-datepicker #startDate2></mat-datepicker>
                        </mat-form-field>

                      </div>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="1" [rowspan]="3">
                      <div class="controles-container">

                        <mat-form-field class="example-full-width">
                          <input matInput #input placeholder="Enter Subscriber middle name"
                            formControlName="insuredmiddleName" [errorStateMatcher]="matcher">
                          <mat-label>Subscriber Middle Name</mat-label>
                        </mat-form-field>

                        <mat-form-field>
                          <mat-label>Patient Relationship To Insured</mat-label>
                          <mat-select formControlName="patientRelationInsured" required>
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let relation of relations" [value]="relation.name">
                              {{relation.name}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                          <input matInput [matDatepicker]="endDate2" placeholder="Select End Date"
                            formControlName="endDate"
                            [value]="patientFormService.patientForm.get('insuranceDetailByPolicy').get('secondaryInsuranceDetail').get('endDate').value | date:'yyyy-MM-dd'"
                            [errorStateMatcher]="matcher" required>
                          <mat-label>End Date</mat-label>
                          <mat-datepicker-toggle matSuffix [for]="endDate2"></mat-datepicker-toggle>
                          <mat-datepicker #endDate2></mat-datepicker>
                        </mat-form-field>
                      </div>
                    </mat-grid-tile>

                  </mat-grid-list>

                  <!-- Secondary Insurance: Subscriber's first last and middle name ends-->
                </mat-expansion-panel>
              </div>
            </div>
            <!-- Secondary Insurance Details ends -->

            <!-- Tertiary Insurance Details starts -->
            <div formGroupName="insuranceDetailByPolicy" class="normal-form"
              *ngIf="patientFormService.patientForm.get('insuranceDetailByPolicy')?.value != null">
              <!-- Tertiary Insurance: Subscriber's first last and middle name starts-->
              <div formGroupName="tertiaryInsuranceDetail" class="normal-form" *ngIf="tertiaryInsuranceDetail !== null">
                <mat-expansion-panel>
                  <mat-expansion-panel-header class="disable_ripple">
                    <mat-panel-title>
                      <!-- <mat-form-field class="example-full-width"> -->
                      <mat-checkbox color="primary" (click)="tertiarySelected($event)"
                        (keydown)="$event.stopPropagation()" formControlName="eligibilityCheckSelected">
                        Tertiary Insurance
                      </mat-checkbox>
                      <!-- </mat-form-field> -->
                    </mat-panel-title>

                    <mat-panel-description>
                      <!-- Tertiary Insurance -->
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <mat-grid-list cols="3" rowHeight="70px">

                    <mat-grid-tile [colspan]="1" [rowspan]="4">
                      <div class="controles-container">
                        <mat-form-field class="example-full-width">
                          <input matInput #input placeholder="Enter Subscriber last name"
                            formControlName="insuredlastName" [errorStateMatcher]="matcher" required>
                          <mat-label>Subscriber Last Name</mat-label>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                          <mat-label>Sex</mat-label>
                          <mat-select formControlName="insuredsex" required>
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let gender of genders" [value]="gender.name">
                              {{gender.name}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                          <input matInput #input placeholder="Enter insured last name" formControlName="policyNumber"
                            [errorStateMatcher]="matcher" required>
                          <mat-label>Policy Number</mat-label>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                          <input matInput #input placeholder="Enter group #" formControlName="group_name"
                            [errorStateMatcher]="matcher" required>
                          <mat-label>Group Number</mat-label>
                        </mat-form-field>

                      </div>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="1" [rowspan]="3">
                      <div class="controles-container">
                        <mat-form-field class="example-full-width">
                          <input matInput #input placeholder="Enter Subscriber first name"
                            formControlName="insuredfirstName" [errorStateMatcher]="matcher" required>
                          <mat-label>Subscriber First Name</mat-label>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                          <input matInput [matDatepicker]="insureddob3" placeholder="Enter date of birth"
                            formControlName="insureddob"
                            [value]="patientFormService.patientForm.get('insuranceDetailByPolicy').get('tertiaryInsuranceDetail').get('insureddob').value | date:'yyyy-MM-dd'"
                            [errorStateMatcher]="matcher" required>
                          <mat-label>Date Of Birth</mat-label>
                          <mat-datepicker-toggle matSuffix [for]="insureddob3"></mat-datepicker-toggle>
                          <mat-datepicker #insureddob3></mat-datepicker>
                        </mat-form-field>
                        <!-- [value]="patientFormService.patientForm.controls.insuranceAndDiagnosis.controls.insureddob.value| date:'yyyy-MM-dd'" -->

                        <mat-form-field class="example-full-width">
                          <input matInput [matDatepicker]="startDate3" placeholder="Select Start Date"
                            formControlName="startDate"
                            [value]="patientFormService.patientForm.get('insuranceDetailByPolicy').get('tertiaryInsuranceDetail').get('startDate').value | date:'yyyy-MM-dd'"
                            [errorStateMatcher]="matcher" required>
                          <mat-label>Start Date</mat-label>
                          <mat-datepicker-toggle matSuffix [for]="startDate3"></mat-datepicker-toggle>
                          <mat-datepicker #startDate3></mat-datepicker>
                        </mat-form-field>

                      </div>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="1" [rowspan]="3">
                      <div class="controles-container">

                        <mat-form-field class="example-full-width">
                          <input matInput #input placeholder="Enter Subscriber middle name"
                            formControlName="insuredmiddleName" [errorStateMatcher]="matcher">
                          <mat-label>Subscriber Middle Name</mat-label>
                        </mat-form-field>

                        <mat-form-field>
                          <mat-label>Patient Relationship To Insured</mat-label>
                          <mat-select formControlName="patientRelationInsured" required>
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let relation of relations" [value]="relation.name">
                              {{relation.name}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                          <input matInput [matDatepicker]="endDate3" placeholder="Select End Date"
                            formControlName="endDate"
                            [value]="patientFormService.patientForm.get('insuranceDetailByPolicy').get('tertiaryInsuranceDetail').get('endDate').value | date:'yyyy-MM-dd'"
                            [errorStateMatcher]="matcher" required>
                          <mat-label>End Date</mat-label>
                          <mat-datepicker-toggle matSuffix [for]="endDate3"></mat-datepicker-toggle>
                          <mat-datepicker #endDate3></mat-datepicker>
                        </mat-form-field>
                      </div>
                    </mat-grid-tile>

                  </mat-grid-list>

                  <!-- Tertiary Insurance: Subscriber's first last and middle name ends-->
                </mat-expansion-panel>
              </div>
            </div>
            <!-- Tertiary Insurance Details ends -->

            <!-- Current Insurance Status Details starts -->
            <app-current-insurance></app-current-insurance>
            <!-- Current Insurance Status Details ends -->

            <!-- Home Health Details starts -->

            <!-- Home Health Details ends -->

          </mat-accordion>
        </ng-template>
      </mat-tab>
      <!-- Health Plan Verification Tab Ends -->

      <!-- Member Insurance History Tab Start -->
      <mat-tab label="Member Insurance History">
        <ng-template matTabContent class="mat-elevation-z8">
          <app-insurance-history></app-insurance-history>
        </ng-template>
      </mat-tab>
      <!-- Member Insurance History Tab Ends -->

    </mat-tab-group>
    <!-- Tabs in Main Doalog Ends here -->
  </div>
  <!-- Main Mat-Dialog Body/Content End -->

  <!-- Main Mat-Dialog Action Start -->
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <button mat-button mat-raised-button color="accent" (click)="onEligibilityCheck()">Verify
        Eligibility</button>
    </div>
    <button mat-button mat-raised-button color="primary" [mat-dialog-close]="false" (click)="onNoClick()">Close</button>
  </div>
  <!-- Main Mat-Dialog Action Ends -->

</form>
<!-- Patient Form Ends Here -->