/* Main Form class */
form.normal-form {
  margin: 3px;
}
/* Main Form class */

/* Hide spinner */
.hide {
  display: none;
}
/* Hide spinner */

/* space between heading and close icon */
.fill-remaining-space {
  flex: 1 1 auto;
}

.example-icon {
  /* padding: 0 14px; */
  color: red;
  cursor: pointer;
  /* align-items: end; */
}

mat-toolbar mat-toolbar-row {
  background-color: white;
  padding: 0px;
}

/* space between heading and close icon */

/* Mat expansion panel starts */
mat-checkbox {
  margin-right: 5px;
}

.mat-expansion-panel-header {
  /* background: #fff;
    background-color: #fff; */
  /* border-color: #e4e5e7;
    border: 1px solid #e4e5e7;
    padding: 10px 10px;
    border-radius: 2px; */
  height: 40px !important;
  border: 1px solid #e4e5e7;
  border-radius: 2px;
  margin-top: 12px;
}

.mat-expansion-panel-header.mat-expanded {
  /* background: #fff;
    background-color: #fff; */
  /* border-color: #e4e5e7;
    border: 1px solid #e4e5e7;
    padding: 10px 10px;
    border-radius: 2px; */
  height: 40px !important;
  border: none;
}

.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover,
.mat-expansion-panel-header.mat-expanded:focus {
  /* height: 40px !important;
    background: #fff !important;
    background-color: #fff !important; */
  /* border-color: #e4e5e7 !important;
    border: 1px solid #e4e5e7;
    padding: 10px 10px;
    border-radius: 2px; */
  height: 40px !important;
}

.disable_ripple:hover {
  background-color: #fff !important;
}
/* Mat expansion panel ends */
