<mat-toolbar>
    <mat-toolbar-row>
        <span class="fill-remaining-space"></span>
        <span>
            <h5 mat-dialog-title>{{'Home Health PPS - Patient Driven Grouping Model (PDGM)'}}</h5>
        </span>
        <span class="fill-remaining-space"></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Close icon" (click)="closeModel()" tabindex="-1">
            close
        </mat-icon>
    </mat-toolbar-row>
</mat-toolbar>
<div class="center">
    <mat-spinner *ngIf="isLoading" mode="indeterminate"></mat-spinner>
</div>
<mat-dialog-content class="pdgm-form" *ngIf="pdgmToolData">
    <mat-accordion [multi]="true">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Episode Details
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
                <mat-form-field fxFlex="280">
                    <mat-label>Patient Name</mat-label>
                    <input matInput [(ngModel)]="pdgmToolData[0].name" ngDefaultControl readonly>
                </mat-form-field>

                <mat-form-field fxFlex="280">
                    <mat-label>Date Of Birth</mat-label>
                    <input matInput [(ngModel)]="pdgmToolData[0].dob" ngDefaultControl readonly>
                </mat-form-field>

                <mat-form-field fxFlex="280">
                    <mat-label>Gender</mat-label>
                    <input matInput type="text" [(ngModel)]="pdgmToolData[0].gender" ngDefaultControl readonly>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field fxFlex="280">
                    <mat-label>MRN</mat-label>
                    <input matInput type="text" [(ngModel)]="pdgmToolData[0].mrnNumber" ngDefaultControl readonly>
                </mat-form-field>

                <mat-form-field fxFlex="280">
                    <mat-label>Episode ID</mat-label>
                    <input matInput type="text" [(ngModel)]="pdgmToolData[0].episodeId" ngDefaultControl readonly>
                </mat-form-field>

                <mat-form-field fxFlex="280">
                    <mat-label>Episode Type</mat-label>
                    <input matInput type="text" [(ngModel)]="pdgmToolData[0].episodeType" ngDefaultControl readonly>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field fxFlex="280">
                    <mat-label>Start Date</mat-label>
                    <input matInput type="text" [(ngModel)]="pdgmToolData[0].episodeStartDate" ngDefaultControl
                        readonly>
                </mat-form-field>

                <mat-form-field fxFlex="280">
                    <mat-label>End Date</mat-label>
                    <input matInput type="text" [(ngModel)]="pdgmToolData[0].episodeEndDate" ngDefaultControl readonly>
                </mat-form-field>

                <mat-form-field fxFlex="280">
                    <mat-label>No of Visits</mat-label>
                    <input matInput type="text" [(ngModel)]="pdgmToolData[0].numberOrVisits" ngDefaultControl readonly>
                </mat-form-field>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    A. Timing and Source of Admission
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="row">
                <table style="width:100%">
                    <tr>
                        <th>Visit Timing</th>
                        <th>Admission Source</th>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                                [(ngModel)]="selectedTimings">
                                <mat-radio-button class="example-radio-button" *ngFor="let visit of visitTimings"
                                    [value]="visit" disabled>
                                    {{visit}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </td>
                        <td class="text-center">
                            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                                [(ngModel)]="selectedSource">
                                <mat-radio-button class="example-radio-button" *ngFor="let admission of admissionSource"
                                    [value]="admission" disabled>
                                    {{admission}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <h4 class="mb-24">1 Position (Source & Timing) - HIPPS Code: </h4>
                <button class="mat-raised-button f-r">{{pdgmToolData[1].position1Code }}</button>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    B. Clinical Grouping - Primary Diagnosis
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="row">
                <table style="width:100%">
                    <tr>
                        <th>Primary Diagnosis Code</th>
                        <th>Description</th>
                        <th>Clinical Grouping</th>
                        <th>Comorbidity Subgroup</th>
                    </tr>
                    <tr>
                        <td class="text-center">{{pdgmToolData[2].primaryDiagnosisCode}} </td>
                        <td class="text-center">{{pdgmToolData[2].discription}}</td>
                        <td class="text-center">{{pdgmToolData[2].clinicalGroup}}</td>
                        <td class="text-center">{{pdgmToolData[2].comorbiditySubGroup}}</td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <h4 class="mb-24">2 Position (Clinical Grouping) - HIPPS Code: </h4>
                <button class="mat-raised-button f-r">{{pdgmToolData[2].secondPositionHIPPSCode}}</button>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    C. OASIS Items Contribute to functional level
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
                <table style="width:100%" class="mt-14">
                    <tr>
                        <th class="w-15">
                            M1033
                        </th>
                        <th class="w-75">
                            Risk for hospitalization : Which of the following signs or Symptoms characterise this
                            patient as at risk for hospitalisation ? (Mark all that apply)
                        </th>
                        <!-- <th class="w-20">Functional Point</th> -->
                    </tr>
                    <tr *ngFor="let optionDetails of oasisQuestion1Data">
                        <td class="text-center">
                            <mat-checkbox [checked]="optionDetails.flag" [(ngModel)]="optionDetails.flag"
                                ngDefaultControl disabled>
                            </mat-checkbox>
                        </td>
                        <td>
                            {{optionDetails.discription}}
                        </td>
                        <!-- <td>{{optionDetails.functionalPoint}}</td> -->
                    </tr>
                </table>
            </div>
            <div class="row">
                <h4 class="mb-24 fun-score"> Functional Score :</h4>
                <button class="mat-raised-button f-r fun-btn" disabled>{{oasisQuestion1Data.functionalPoint}}</button>
            </div>

            <div class="row">
                <table style="width:100%" class="mt-14">
                    <tr>
                        <th class="w-15">
                            M1800
                        </th>
                        <th class="w-75">
                            Grooming: Current ability to tend safely to personal hygenie needs (i.e washing face and
                            hands, hair care, shaving or makeup, teeth or denture care, fingernail care)
                        </th>
                        <!-- <th class="w-20">Functional Point</th> -->
                    </tr>
                    <tr *ngFor="let m1800 of m1800OasisData">
                        <td class="text-center">
                            <mat-radio-button value="{{m1800.flag}}" [checked]="m1800.flag" name="table" disabled
                                [(ngModel)]="m1800.flag" ngDefaultControl></mat-radio-button>
                        </td>
                        <td>
                            {{m1800.discription}}
                        </td>
                        <!-- <td>{{m1800.functionalPoint}}</td> -->
                    </tr>
                </table>
            </div>
            <div class="row">
                <h4 class="mb-24 fun-score"> Functional Score :</h4>
                <button class="mat-raised-button f-r fun-btn" disabled>{{m1800OasisData.functionalPoint}}</button>
            </div>
            <div class="row">
                <table style="width:100%" class="mt-14">
                    <tr>
                        <th class="w-15">
                            M1810
                        </th>
                        <th class="w-75">
                            Current ability to dress upper body safely (wit or without dressing aids) including
                            undergarments,pullovers,front opening shirts and blouses, managing zippers, buttons and
                            snaps
                        </th>
                        <!-- <th class="w-20">Functional Point</th> -->
                    </tr>
                    <tr *ngFor="let m1810 of m1810OasisData">
                        <td class="text-center">
                            <mat-radio-button value="{{m1810.flag}}" [checked]="m1810.flag" name="table1" disabled
                                [(ngModel)]="m1810.flag" ngDefaultControl></mat-radio-button>
                        </td>
                        <td>
                            {{m1810.discription}}
                        </td>
                        <!-- <td>{{m1810.functionalPoint}}</td> -->
                    </tr>
                </table>
            </div>
            <div class="row">
                <h4 class="mb-24 fun-score"> Functional Score :</h4>
                <button class="mat-raised-button f-r fun-btn" disabled>{{m1810OasisData.functionalPoint}}</button>
            </div>

            <div class="row">
                <table style="width:100%" class="mt-14">
                    <tr>
                        <th class="w-15">
                            M1820
                        </th>
                        <th class="w-75">
                            Bathing: Current ability to dress lower body safely(with or without dressing aids),
                            including undrgarments,slacks,socks or nylons, shoes
                        </th>
                        <!-- <th class="w-20">Functional Point</th> -->
                    </tr>
                    <tr *ngFor="let m1820 of m1820OasisData">
                        <td class="text-center">
                            <mat-radio-button value="{{m1820.flag}}" [checked]="m1820.flag" name="table2" disabled
                                [(ngModel)]="m1820.flag" ngDefaultControl></mat-radio-button>
                        </td>
                        <td>
                            {{m1820.discription}}
                        </td>
                        <!-- <td>{{m1820.functionalPoint}}</td> -->
                    </tr>
                </table>
            </div>
            <div class="row">
                <h4 class="mb-24 fun-score"> Functional Score :</h4>
                <button class="mat-raised-button f-r fun-btn" disabled>{{m1820OasisData.functionalPoint}}</button>
            </div>
            <div class="row">
                <table style="width:100%" class="mt-14">
                    <tr>
                        <th class="w-15">
                            M1830
                        </th>
                        <th class="w-75">
                            Bathing: Current ability to wash entire body safely. Excludes grooming (Washing face,
                            washing hands and shampooing hair)
                        </th>
                        <!-- <th class="w-20">Functional Point</th> -->
                    </tr>
                    <tr *ngFor="let m1830 of m1830OasisData">
                        <td class="text-center">
                            <mat-radio-button value="{{m1830.flag}}" [checked]="m1830.flag" name="table3" disabled
                                [(ngModel)]="m1830.flag" ngDefaultControl></mat-radio-button>
                        </td>
                        <td>
                            {{m1830.discription}}
                        </td>
                        <!-- <td>{{m1830.functionalPoint}}</td> -->
                    </tr>
                </table>
            </div>
            <div class="row">
                <h4 class="mb-24 fun-score"> Functional Score :</h4>
                <button class="mat-raised-button f-r fun-btn" disabled>{{m1830OasisData.functionalPoint}}</button>
            </div>
            <div class="row">
                <table style="width:100%" class="mt-14">
                    <tr>
                        <th class="w-15">
                            M1840
                        </th>
                        <th class="w-75">
                            Toilet transferring: Current ability to get to and from the toilet or bedside commode safely
                            and transfer on and off toilet/commode.
                        </th>
                        <!-- <th class="w-20">Functional point</th> -->
                    </tr>
                    <tr *ngFor="let m1840 of m1840OasisData">
                        <td class="text-center">
                            <mat-radio-button value="{{m1840.flag}}" [checked]="m1840.flag" name="table4" disabled
                                [(ngModel)]="m1840.flag" ngDefaultControl></mat-radio-button>
                        </td>
                        <td>
                            {{m1840.discription}}
                        </td>
                        <!-- <td>{{m1840.functionalPoint}}</td> -->
                    </tr>
                </table>
            </div>
            <div class="row">
                <h4 class="mb-24 fun-score"> Functional Score :</h4>
                <button class="mat-raised-button f-r fun-btn" disabled>{{m1840OasisData.functionalPoint}}</button>
            </div>
            <div class="row">
                <table style="width:100%" class="mt-14">
                    <tr>
                        <th class="w-15">
                            M1850
                        </th>
                        <th class="w-75">
                            Current ability to move safely from bed to chair, or ability to turn and position self in
                            bed if patient is bedfast.
                        </th>
                        <!-- <th class="w-20">Functional Point</th> -->
                    </tr>
                    <tr *ngFor="let m1850 of m1850OasisData">
                        <td class="text-center">
                            <mat-radio-button value="{{m1850.flag}}" [checked]="m1850.flag" name="table5" disabled
                                [(ngModel)]="m1850.flag" ngDefaultControl></mat-radio-button>
                        </td>
                        <td>
                            {{m1850.discription}}
                        </td>
                        <!-- <td>{{m1850.functionalPoint}}</td> -->
                    </tr>
                </table>
            </div>
            <div class="row">
                <h4 class="mb-24 fun-score"> Functional Score :</h4>
                <button class="mat-raised-button f-r fun-btn" disabled>{{m1850OasisData.functionalPoint}}</button>
            </div>
            <div class="row">
                <table style="width:100%" class="mt-14">
                    <tr>
                        <th class="w-15">
                            M1860
                        </th>
                        <th class="w-75">
                            Ambulance/Locomotion: Current ability to walk safely, once in a standing position, or use a
                            wheelchair, once in a seated position, on a variety of surfaces.
                        </th>
                        <!-- <th class="w-20">Functional Point</th> -->
                    </tr>
                    <tr *ngFor="let m1860 of m1860OasisData">
                        <td class="text-center">
                            <mat-radio-button value="{{m1860.flag}}" [checked]="m1860.flag" name="table6" disabled
                                [(ngModel)]="m1860.flag" ngDefaultControl></mat-radio-button>
                        </td>
                        <td> {{m1860.discription}} </td>
                        <!-- <td>{{m1860.functionalPoint}}</td> -->
                    </tr>
                </table>
                <div class="row">
                    <h4 class="mb-24 fun-score"> Functional Score :</h4>
                    <button class="mat-raised-button f-r fun-btn" disabled>{{m1860OasisData.functionalPoint}}</button>
                </div>
                <div class="row">
                    <h4 class="mb-24 fun-score"> Total Functional Score :</h4>
                    <button class="mat-raised-button f-r fun-btn" disabled>{{functionScore}}</button>
                </div>
            </div>

            <div class="row">
                <h4 class="mb-24">3 Position (Functional Level) - HIPPS Code: </h4>
                <button class="mat-raised-button f-r">{{position3HippsCode}}</button>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    D. Comorbidity Adjustment (from Secondary Diagnosis)
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="row">
                <table style="width:100%">
                    <tr>
                        <th>Secondary Diagnosis Code</th>
                        <th>Description</th>
                        <th>Clinical Group</th>
                        <th>Comorbidity Subgroup</th>
                    </tr>
                    <tr *ngFor="let codeList of pdgmToolData[3].secondDiagnosisCodeList">
                        <td class="text-center">{{codeList.secondDiagnosisCode}} </td>
                        <td>{{codeList.discription}}</td>
                        <td>{{codeList.clinicalGroup}}</td>
                        <td>{{codeList.comorbiditySubGroup}}</td>
                    </tr>

                </table>
            </div>
            <div class="row">
                <h4 class="mb-24">4 Position (Comorbidity) - HIPPS Code: </h4>
                <button class="mat-raised-button f-r"
                    *ngIf="pdgmToolData[3].comorbidityTypeAndHippsCode">{{pdgmToolData[3].comorbidityTypeAndHippsCode.hippsCode}}</button>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    E. Placeholder
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="row">
                <h4 class="mb-24">5 Position (Placeholder) - HIPPS Code: </h4>
                <button class="mat-raised-button f-r">1</button>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    F. HIPPS Code & Case Mix Weight
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="row">
                <table style="width:100%">
                    <tr>
                        <th>Position #1</th>
                        <th>Position #2</th>
                        <th>Position #3</th>
                        <th>Position #4</th>
                        <th>Position #5</th>
                        <th>HIPPS Code</th>
                        <th>Case Mix Weight</th>
                    </tr>
                    <tr>
                        <td class="text-center">{{pdgmToolData[4].position1}} </td>
                        <td class="text-center">{{pdgmToolData[4].position2}}</td>
                        <td class="text-center">{{pdgmToolData[4].position3}} </td>
                        <td class="text-center">{{pdgmToolData[4].position4}} </td>
                        <td class="text-center">{{pdgmToolData[4].position5}}</td>
                        <td class="text-center">{{pdgmToolData[4].hippscode}}</td>
                        <td class="text-center">{{pdgmToolData[4].weight}} </td>
                    </tr>
                </table>
            </div>
        </mat-expansion-panel>

    </mat-accordion>

</mat-dialog-content>

<mat-dialog-actions class="f-r">
    <button class="mat-raised-button" (click)="closeModel()">Close</button>
    <button class="mat-raised-button mat-primary" (click)="insertPdgmForm()">Insert Code</button>
</mat-dialog-actions>