<!-- <div class="container"> -->
<fieldset>
  <!-- heading -->
  <legend>Current Insurance Status</legend>
  <!-- <mat-toolbar>
  <mat-toolbar-row class="normal-form">
    <span>Current Insurance Status</span>
  </mat-toolbar-row>
</mat-toolbar> -->

  <p>Member Insurance Eligibility</p>
  <app-member-insurance-eligibility></app-member-insurance-eligibility>

  <p>Home Health Episode Information</p>
  <!-- <div class="border"> -->
  <app-home-health-insurance-info></app-home-health-insurance-info>

</fieldset>
<!-- </div> -->