<!-- <div class="container"> -->
<fieldset>
  <!-- heading -->
  <legend>Current Insurance Status</legend>
  <!-- <mat-toolbar>
  <mat-toolbar-row class="normal-form">
    <span>Current Insurance Status</span>
  </mat-toolbar-row>
</mat-toolbar> -->
<!-- {{insuranceList |json}}
<hr />
{{myInsuranceList | json}} -->

  <p>Member Insurance Eligibility</p>
  <app-member-insurance-eligibility [myInsuranceList]="insuranceList"></app-member-insurance-eligibility>

  <!-- <p>Home Health Episode Information</p> -->
  <!-- <div class="border"> -->
  <!-- <app-home-health-insurance-info></app-home-health-insurance-info> -->

</fieldset>
<!-- </div> -->