<div class="container spinner-class">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <mat-toolbar class="normal-form">
    <mat-toolbar-row>
      <!-- <span class="fill-remaining-space"></span> -->
      <div>
        <h5 mat-dialog-title> {{ data.heading }} </h5>
      </div>
      <span class="fill-remaining-space"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Close icon" (click)="onNoClick()" tabindex="-1">
        close
      </mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- <i class="material-icons close inside icon">close</i> -->
  <div mat-dialog-content align="center">
    <div>
      <p>{{messageContentReceived}}</p>
    </div>
  </div>

  <div mat-dialog-actions align="center">
    <button mat-raised-button cdkFocusInitial (click)="onConfirmClick()" color="accent" cdkFocusInitial>Confirm</button>
    <button mat-raised-button [mat-dialog-close]="false" color="accent" (click)="onNoClick()">Close</button>
  </div>

</div>