<div>
  <mat-toolbar>
    <mat-toolbar-row>
      <span>
        <!-- <h1 mat-dialog-title>Hi {{data.name}}</h1> -->
        <h6>Verify Eligibility</h6>
      </span>
      <span class="fill-remaining-space"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Close icon" (click)="onNoClick()" tabindex="-1">
        close
      </mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- <i class="material-icons close inside icon">close</i> -->
  <div mat-dialog-content align="center">
    <p>Verify Current Eligibility?</p>
  </div>

  <div mat-dialog-actions align="center">
    <button mat-raised-button [mat-dialog-close]="data.form" (click)="onConfirmClick()" color="accent"
      cdkFocusInitial>Confirm</button>
    <button mat-raised-button [mat-dialog-close] color="accent" (click)="onNoClick()">Close</button>
    <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Cancel</button> -->
    <!-- <button mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial>Confirm</button> -->

  </div>

</div>