<mat-toolbar>
    <mat-toolbar-row>
        <span class="fill-remaining-space"></span>
        <span>
            <h5 mat-dialog-title>{{'OASIS'}}</h5>
        </span>
        <span class="fill-remaining-space"></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Close icon" (click)="closeModel()" tabindex="-1">
            close
        </mat-icon>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="pdgm-form">
    <div class="row">
        <table style="width:100%" class="mt-14">
            <tr>
                <th class="w-15">
                    {{oasisQuestion1Data.oasisCode}}
                </th>
                <th class="w-75">
                    {{oasisQuestion1Data.oasisQuestion}}
                </th>
                <th class="w-20">{{oasisQuestion1Data.functionalPoint}}</th>
            </tr>
            <tr *ngFor="let optionDetails of oasisQuestion1Data.oasisOptions">
                <td class="text-center">
                    <!-- <mat-checkbox></mat-checkbox> -->
                    <mat-checkbox [checked]="optionDetails.flag" [(ngModel)]="optionDetails.flag" ngDefaultControl
                        (ngModelChange)="m1033ChangeEvent(optionDetails, oasisQuestion1Data)">
                    </mat-checkbox>
                </td>
                <td>
                    {{optionDetails.discription}}
                </td>
                <td>{{optionDetails.functionalPoint}}</td>
            </tr>
        </table>
    </div>

    <div class="row">
        <table style="width:100%" class="mt-14">
            <tr>
                <th class="w-15">
                    {{m1800OasisData.oasisCode}}
                </th>
                <th class="w-75">
                    {{m1800OasisData.oasisQuestion}}
                </th>
                <th class="w-20">{{m1800OasisData.functionalPoint}}</th>
            </tr>
            <tr *ngFor="let m1800 of m1800OasisData.oasisOptions">
                <td class="text-center">
                    <mat-radio-button value="{{m1800.flag}}" name="table" [(ngModel)]="m1800.flag" ngDefaultControl
                        (ngModelChange)="m1800ChangeEvent(m1800, m1800OasisData)"></mat-radio-button>
                </td>
                <td>
                    {{m1800.discription}}
                </td>
                <td>{{m1800.functionalPoint}}</td>
            </tr>
        </table>
    </div>
    <div class="row">
        <table style="width:100%" class="mt-14">
            <tr>
                <th class="w-15">
                    {{m1810OasisData.oasisCode}}
                </th>
                <th class="w-75">
                    {{m1810OasisData.oasisQuestion}}
                </th>
                <th class="w-20">{{m1810OasisData.functionalPoint}}</th>
            </tr>
            <tr *ngFor="let m1810 of m1810OasisData.oasisOptions">
                <td class="text-center">
                    <mat-radio-button value="{{m1810.flag}}" name="table1" [(ngModel)]="m1810.flag" ngDefaultControl
                        (ngModelChange)="selectionChangeEvent(m1810, m1810OasisData)"></mat-radio-button>
                </td>
                <td>
                    {{m1810.discription}}
                </td>
                <td>{{m1810.functionalPoint}}</td>
            </tr>
        </table>
    </div>
    <div class="row">
        <table style="width:100%" class="mt-14">
            <tr>
                <th class="w-15">
                    {{m1820OasisData.oasisCode}}
                </th>
                <th class="w-75">
                    {{m1820OasisData.oasisQuestion}}
                </th>
                <th class="w-20">{{m1820OasisData.functionalPoint}}</th>
            </tr>
            <tr *ngFor="let m1820 of m1820OasisData.oasisOptions">
                <td class="text-center">
                    <mat-radio-button value="{{m1820.flag}}" name="table2" [(ngModel)]="m1820.flag" ngDefaultControl
                        (ngModelChange)="selectionChangeEvent(m1820, m1820OasisData)"></mat-radio-button>
                </td>
                <td>
                    {{m1820.discription}}
                </td>
                <td>{{m1820.functionalPoint}}</td>
            </tr>
        </table>
    </div>
    <div class="row">
        <table style="width:100%" class="mt-14">
            <tr>
                <th class="w-15">
                    {{m1830OasisData.oasisCode}}
                </th>
                <th class="w-75">
                    {{m1830OasisData.oasisQuestion}}
                </th>
                <th class="w-20">{{m1830OasisData.functionalPoint}}</th>
            </tr>
            <tr *ngFor="let m1830 of m1830OasisData.oasisOptions">
                <td class="text-center">
                    <mat-radio-button value="{{m1830.flag}}" name="table3" [(ngModel)]="m1830.flag" ngDefaultControl
                        (ngModelChange)="selectionChangeEvent(m1830, m1830OasisData)"></mat-radio-button>
                </td>
                <td>
                    {{m1830.discription}}
                </td>
                <td>{{m1830.functionalPoint}}</td>
            </tr>
        </table>
    </div>
    <div class="row">
        <table style="width:100%" class="mt-14">
            <tr>
                <th class="w-15">
                    {{m1840OasisData.oasisCode}}
                </th>
                <th class="w-75">
                    {{m1840OasisData.oasisQuestion}}
                </th>
                <th class="w-20">{{m1840OasisData.functionalPoint}}</th>
            </tr>
            <tr *ngFor="let m1840 of m1840OasisData.oasisOptions">
                <td class="text-center">
                    <mat-radio-button value="{{m1840.flag}}" name="table4" [(ngModel)]="m1840.flag" ngDefaultControl
                        (ngModelChange)="selectionChangeEvent(m1840, m1840OasisData)"></mat-radio-button>
                </td>
                <td>
                    {{m1840.discription}}
                </td>
                <td>{{m1840.functionalPoint}}</td>
            </tr>
        </table>
    </div>

    <div class="row">
        <table style="width:100%" class="mt-14">
            <tr>
                <th class="w-15">
                    {{m1850OasisData.oasisCode}}
                </th>
                <th class="w-75">
                    {{m1850OasisData.oasisQuestion}}
                </th>
                <th class="w-20">{{m1850OasisData.functionalPoint}}</th>
            </tr>
            <tr *ngFor="let m1850 of m1850OasisData.oasisOptions">
                <td class="text-center">
                    <mat-radio-button value="{{m1850.flag}}" name="table5" [(ngModel)]="m1850.flag" ngDefaultControl
                        (ngModelChange)="selectionChangeEvent(m1850, m1850OasisData)"></mat-radio-button>
                </td>
                <td>
                    {{m1850.discription}}
                </td>
                <td>{{m1850.functionalPoint}}</td>
            </tr>
        </table>
    </div>
    <div class="row">
        <table style="width:100%" class="mt-14">
            <tr>
                <th class="w-15">
                    {{m1860OasisData.oasisCode}}
                </th>
                <th class="w-75">
                    {{m1860OasisData.oasisQuestion}}
                </th>
                <th class="w-20">{{m1860OasisData.functionalPoint}}</th>
            </tr>
            <tr *ngFor="let m1860 of m1860OasisData.oasisOptions">
                <td class="text-center">
                    <mat-radio-button value="{{m1860.flag}}" name="table6" [(ngModel)]="m1860.flag" ngDefaultControl
                        (ngModelChange)="selectionChangeEvent(m1860, m1860OasisData)"></mat-radio-button>
                </td>
                <td>
                    {{m1860.discription}}
                </td>
                <td>{{m1860.functionalPoint}}</td>
            </tr>
        </table>
    </div>

</mat-dialog-content>
<mat-dialog-actions class="f-r">
    <button class="mat-raised-button" (click)="closeModel()">Close</button>
    <button class="mat-raised-button mat-primary" (click)="saveOasisData()">Save</button>
</mat-dialog-actions>